.grid {
  margin: 20px auto;
  width:500px;
  height:500px;
  background-color:yellow;
  display:grid;
  grid-template-columns: 250px 250px;
  grid-row: auto auto;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid > div {
  border: 1px solid black;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
